<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] [%30.30C] %m%n"/>
    </layout>
  </appender>

  <!--
    Switching off all debug messages for apache libraries
  -->
  <category name="org.apache">
    <priority value="INFO"/>
  </category>

  <!--
     Switching off all debug messages for spring classes
  -->
  <category name="org.springframework">
    <priority value="WARN"/>
  </category>

  <root>
    <priority value="DEBUG"/>    
    <appender-ref ref="ConsoleAppender"/>
  </root>

</log4j:configuration>
